<div class="modal fade" id="delete-list-modal" tabindex="-1" role="dialog" aria-labelledby="delete-list-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body my-2">
        <span class="fs-5 p-2">Remove this list?</span>
      </div>
      <div class="modal-footer">
        <%= button_to "Remove", @list, method: :delete, class: "btn btn-sm btn-danger" %>
      </div>
    </div>
  </div>
</div>
