<div class="modal" id="edit-list-modal" tabindex="-1" aria-labelledby="edit-list-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <div class="d-flex w-100 justify-content-center">
          <h3 class="mb-0">Edit list</h3>
        </div>
      </div>
      <div class="modal-body pb-3">
        <%= render "lists/form", list: @list %>
      </div>
    </div>
  </div>
</div>
