<div class="offset-3 mb-3">
  <%= link_to 'Back', url_for(:back), class: "btn btn-sm btn-secondary" %>
</div>

<div class="card offset-3 col-6">
  <div class="card-header text-center">
    <h2 class="mt-2">Edit List</h2>
  </div>

  <div class="card-body">
    <%= render "form", list: @list %>
  </div>
</div>
