<p style="color: green"><%= notice %></p>

<h1>Your Lists</h1>

<div id="lists">
  <% @lists.each do |list| %>
    <%= link_to(list) do %>
      <%= render list %>
    <% end %>
  <% end %>
</div>

<%= link_to "New list", new_list_path, class: "btn btn-sm btn-success" %>
