<main class="container">
  <% @lists.each do |list| %>
    <%= link_to(list) do %>
      <li>
        <ul><%= list.name %></ul>
        <ul><%= list.total_cost %></ul>
      </li>
     <% end %>
  <% end %>
</main>